<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}"/>
    <script th:src="@{bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>
    <script th:src="@{js/jquery-3.2.1.min.js}" type="text/javascript"></script>
</head>
<body>
<!--头部-->
<header class="top-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-3"><a>转运头像</a></div>
            </div>
            <div class="col-md-9"><img src=""/></div>
        </div>
    </div>
</header>
<!--导航-->
<nav class="navbar navbar-default">
    <div class="container-fluid nav-bar">
        <div class="navbar-header"></div>
    </div>
</nav>

<section></section>
<footer></footer>
</body>
</html>